/* ------------------------------------------ BASIC RULES --*/
*{
	box-sizing: border-box;
  background-color: white;
}
/* ------------------------------------------ LAYOUT RULES --*/

.container
{
	margin:5% auto 0 auto;
}

input[type="text"],input[type="email"],input[type="tel"],select
{
	width:100%;
	margin-bottom:2%;
	margin-top:1%;
	height:35px;
	border-radius:5px;
	border: 2px solid black;
}

input[type="text"]:focus,input[type="email"]:focus,input[type="tel"]:focus,input[type=number]:focus,select:focus
{
	/*border :2px solid navy;*/
	outline:none;
    border: 3px solid #4a597d;
    background-color: #cdd9e8;
    transition: all 0.3s ease-in-out;
}
button
{   
  padding: auto;
	border-radius:5px;
	border: 2px solid black;
	margin: auto
}

button:focus,button:hover
{
	outline:none;
	background-color:#cdd9e8;
	cursor:pointer;
	color:black;
}
