/* ------------------------------------------ BASIC RULES --*/
*{
	box-sizing: border-box;
  background-color: white;
}
/* ------------------------------------------ LAYOUT RULES --*/

.container
{
	margin:5% auto 0 auto;
}

input[type="text"],input[type="email"],input[type="tel"],select
{
	width:100%;
	margin-bottom:2%;
	margin-top:1%;
	height:35px;
	border-radius:5px;
	border: 2px solid black;
}

input[type="text"]:focus,input[type="email"]:focus,input[type="tel"]:focus,input[type=number]:focus,select:focus
{
	/*border :2px solid navy;*/
	outline:none;
    border: 3px solid #4a597d;
    background-color: #cdd9e8;
    transition: all 0.3s ease-in-out;
}

button {
  background-color: #4E8020;
  border: 1px solid #4E8020;
  background-color: #4E8020;
  border: 1px solid #4E8020;
  border-radius: 30px;
  font-size: 11px;
  display: block;
  width: 50%;
  margin-top:9px;
  margin-bottom: 20px;
  margin-left: 25%;
  color: #fff;
  padding: 10px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:focus,button:hover
{
	outline:none;
	background-color:#8AB752;
	background-color:#8AB752;
	cursor:pointer;
	color:black;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
  margin-bottom: 2%;
  margin-top: 1%;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e8f9d2;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: #8AB752;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4E8020;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4E8020;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.form-heading{
  color: #4E8020;
}
